//FUENTES

//Montserrart
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

//Raleway
//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
@font-face {
    font-family: 'Raleway';
    src: url(../../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}