//VARIABLES

//Fuentes
$fuenteTitulos: 'Montserrat', sans-serif;
$fuenteTexto: 'Raleway', sans-serif;

//Colores
$colorPrincipal: #fbf8f3;
$colorSecundario: #a7a9be;
$colorExtra1: #eee7ce;
$background: #0f0e17;
$colorOverlay: #101010;